/* font-family: 'Yantramanav', sans-serif; */
/* font-family: 'Teko', sans-serif; */
/*================================= comoon css =================================*/
html{
  scroll-behaviour : smooth;
} 
body {
   font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: none;
    background: #fff !important;
    overflow-x: hidden;
    color:#545454;
  }
p, h1, h2, h3, h4, h5, h6, span{
  margin-bottom:0px;
  font-family: 'Yantramanav', sans-serif;
}
.text_orenge{
  color:#f15b43
}
h3{
  font-size: 30px;
  font-family: 'Teko', sans-serif;
}
.custom-footer a:hover {
  color: #65c9bb !important;
}
/* custom scroll */
  ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #fff;
	border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#7f7f7f;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
  /* custom scroll */
h1{
  font-size: 120px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
    margin-bottom: 0;
}
  /* heading css */
  /* heading css */
  p:last-child{
	margin-bottom:0px;
  }
  button::-moz-focus-inner {
	border: 0;
  }
  :focus {
	outline: none;
  }
  ::-moz-focus-inner {
	border: 0;
  }
  button:focus {
	outline: none;
  }
  a,
  a:hover,
  button,
  button:hover, .indus_block, .indus_block:hover, .form-group input, .form-group input:focus {
	transition: all 0.5s ease 0s !important;
  }

/*================================= 4 Global Styles (#glob) =================================*/
.page-content {
  padding-top: 90px;
}
.section-spacer{
  padding:100px 0px;
}
.logo_heading h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.logo_heading img {
  width: 80px;
  object-fit: cover;
  margin-right: 7px;
  transition: all 0.5s ease 0s !important;
  height: 80px;
}
.navbar-nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  outline: 0;
  transition: all ease-in-out .15s;
  color: #11141c!important;
  text-transform: uppercase!important;
  letter-spacing: 0.1em!important;
  padding: 0 16px!important;
  font-weight: 700;
  font-size: 14px;
}
.fixed-top{
  z-index: 99999;
  background: transparent;
  transition: all 0.5s ease 0s !important;
}
.custom-header.sticky .navbar {
  -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}
.custom-header.sticky .navbar {
  background: #fff;
  transition: all 0.5s ease 0s !important;
}
/* n css */
.wid_block ul li a {
  color: #9498A8;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
.wid_block ul li {
  list-style: none;
}
.wid_title h6 {
  font-size: 24px;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}
.custom-footer p, .custom-footer a {
  color: #9498A8;
}
.custom-footer{
  background-image: url(../images/footer-bg.png);
  background-size: 100% 100%;
}
.contact-form {
  background: #F2F3F6;
  padding: 100px 70px 70px 70px;
}
.text-yellow{
  color:#ca9739;
}
.contact-row h5 {
  color: #333B58;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: 'Teko', sans-serif;
}
.contact-row h6 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}
.contact-row {
  display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEBEF;
    padding: 20px 0px 10px;
}
.font-bold{
  font-weight:700;
}
.about-block {
  border-top: 1px solid #EAEBEF;
  border-bottom: 1px solid #EAEBEF;
}
.custom-logo {
  width: 120px;
  margin: 0 auto;
  height: 80px;
  object-fit: contain;
  transition: all 0.5s ease 0s !important;
}
.custom-header.sticky .custom-logo {
  height: 80px;
  padding: 0;
}

.navbar.navbar-expand-lg.navbar-sticky.border-0.fixed-top.custom_header {
  padding: 10px 0px;
}
.top-banner{
  background-image: url(../images/BANNER-2.png);
  height: 100vh;
}
.top-banner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000008a;
}
.navbar:after {
  content: "";
  background-color: #142645;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;

}
.navbar-brand {
  position: relative;
  z-index: 99;
  width: 22%;
}
.main-menu{
  justify-content: space-between;
}
.navbar-nav-link{
    border-right: 1px solid #e8e8e9;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar{
background-image: url(../images/pattern_bg_1.png
);
}

.banner-content {
  position: relative;
  z-index: 99;
}
img.left-shape {
  position: absolute;
  left: 99px;
  top: -36px;
}

.right-shape {
  position: absolute;
  right: 99px;
  bottom: -36px;
}
.banner-top-content img {
  width: 100px;
  height: 100px;
}
.banner-content h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.section-heading h2 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 50px;
}
.section-heading h6 {
  color: #8C909E;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
  font-family: 'Teko', sans-serif;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 12px;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  border-color: #ca9739;
}
.about-image-wrapper {
  background: #ffffff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
}
.about-image-wrapper img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.projects{
background-color: #22273A;
margin-bottom: 115px;
}
.line{
  background: #ca9739;
  display: block;
  width: 25px;
  height: 3px;
}
.project-block .image-wrapper:after {
  position: absolute;
  content: '';
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 5%, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.project-category {
  margin-top: 20px;
  display: inline;
  padding: 0px;
  line-height: 1;
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}
.project-block-content h4 {
  font-size: 28px;
  line-height: 1.1;
  margin-bottom: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}
.project-block-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.footer-icon {
  background: #ca9739;
  font-size: 24px;
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
}
.project-block:hover .footer-icon {
  opacity: 1;
  bottom: 0px;
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}
.btn-primary {
  font-family: "Teko", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #000;
  padding: 22px 30px 20px 30px;
  background: #ca9739;
}
.btn-primary:hover {
  background: #142645;
}
.why-content {
  position: relative;
  z-index: 99;
  background: #fff;
  padding: 50px 35px 45px 50px;
}
.why-image-wrapper {
  position: absolute;
  top: -4px;
  width: 630px !important;
}
/*=================================== media query css ===================================*/

  @media only screen and (min-width: 300px) and (max-width: 767px) { 
    .about-block,
    .custom-footer {
      text-align: center;
    }
    
    .wid_block {
      padding: 30px 0px;
    }
    
    .why-content {
      padding: 0px 15px 0px 15px;
    }
    
    img.about-image {
      width: 100%;
      margin-bottom: 40px;
    }
    
    .why-image-wrapper {
      position: unset;
      margin-top: 40px;
      width:100% !important;
    }
    
    .contact-form {
      padding: 30px 15px 30px 15px;
      margin-top: 30px;
    }
    
    .projects {
      margin-bottom: 0;
    }
    
    .about-image-wrapper {
      margin: 0 auto 20px auto;
    }
    
    .section-heading h2 {
      font-size: 45px;
      line-height: 45px;
    }
    
    .navbar-toggler i:before {
      color: #fff !important;
    }
    
    img.left-shape {
      left: 0;
      width: 40px;
    }
    
    .right-shape {
      right: 0;
      width: 40px;
    }
    
    .navbar,
    .custom-header.sticky .navbar {
      background: #142645;
    }
    
    h1 {
      font-size: 40px;
      line-height: 40px;
    }
    
    .top-banner {
      background-size: cover;
    }
    
    .section-spacer {
      padding: 50px 0px;
    }
    
    .navbar-nav-link {
      min-height: auto;
      margin-bottom: 10px;
      color: #9498A8 !important;
    }
    
    li.nav-item {
      float: none !important;
    }
    
    .custom-logo,
    .custom-header.sticky .custom-logo {
    
      padding: 10px;
    }
    
    .page-content {
      padding-top: 75px;
    }
    
    div#navbar-navigation {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #142645;
      padding-top: 54px;
      padding-bottom: 54px;
    }
    
    i.fa.fa-bars {
      z-index: 999999;
    }
    
    .navbar-brand {
      z-index: 9999999;
      position: relative;
    }
    
    button.navbar-toggler.collapsed i:before {
      content: "\f0c9";
    }
    
    button.navbar-toggler i:before {
      font-size: 20px;
    }
    
    button.navbar-toggler i {
      position: absolute;
      top: 25px;
      right: 18px;
    }
    
    i.fa.fa-times {
      display: none;
    }
    
    .float-right {
      float: none !important;
    }
    
    ul.main-menu a {
      justify-content: center;
      width: 100%;
      margin: 0 !important;
      padding: 15px 0px !important;
    }
    
    .navbar-collapse {
      text-align: center;
    }
    
    .main-menuright {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .about-block,
    .custom-footer {
      text-align: center;
    }
    
    .wid_block {
      padding: 30px 0px;
    }
    
    
    img.about-image {
      width: 100%;
      margin-bottom: 40px;
    }
    .contact-form {
      padding: 30px 15px 30px 15px;
      margin-top: 30px;
    }
    
    .about-image-wrapper {
      margin: 0 auto 20px auto;
    }
    
    .section-heading h2 {
      font-size: 45px;
      line-height: 45px;
    }
    
    .navbar-toggler i:before {
      color: #fff !important;
    }
    
    img.left-shape {
      left: 0;
      width: 40px;
    }
    
    .right-shape {
      right: 0;
      width: 40px;
    }
    
    .navbar,
    .custom-header.sticky .navbar {
      background: #142645;
    }
    
    h1 {
      font-size: 40px;
      line-height: 40px;
    }
    
    .top-banner {
      background-size: cover;
    }
    
    .section-spacer {
      padding: 50px 0px;
    }
    
    .navbar-nav-link {
      min-height: auto;
      margin-bottom: 10px;
      color: #9498A8 !important;
    }
    
    li.nav-item {
      float: none !important;
    }
    
    .custom-logo,
    .custom-header.sticky .custom-logo {
    
      padding: 10px;
    }
    
    .page-content {
      padding-top: 75px;
    }
    
    div#navbar-navigation {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #142645;
      padding-top: 54px;
      padding-bottom: 54px;
    }
    
    i.fa.fa-bars {
      z-index: 999999;
    }
    
    .navbar-brand {
      z-index: 9999999;
      position: relative;
    }
    
    button.navbar-toggler.collapsed i:before {
      content: "\f0c9";
    }
    
    button.navbar-toggler i:before {
      font-size: 20px;
    }
    
    button.navbar-toggler i {
      position: absolute;
      top: 25px;
      right: 18px;
    }
    
    i.fa.fa-times {
      display: none;
    }
    
    .float-right {
      float: none !important;
    }
    
    ul.main-menu a {
      justify-content: center;
      width: 100%;
      margin: 0 !important;
      padding: 15px 0px !important;
    }
    
    .navbar-collapse {
      text-align: center;
    }
    
    .main-menuright {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  
  }
  